
/* Reset some default styles */
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: left;
}

/* For pixelated theme */
.pixelated {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.card {
  border-width: 2px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
}

/* Override animations with more "digital" feeling ones */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 1s steps(8);
  }
}
